{% for thematique in listThematiques %}
    <input type="checkbox" value="{{ thematique.id }}" name="{{ thematique.id }}" />
    <label for="{{ thematique.id }}">{{ thematique.nom }}</label>
{% endfor %}
