body.accueil {
  height: 100%;
  background-image:url("../../img/accueil/ecran-accueil.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom:70px;
  overflow: hidden;

  img.logo-accueil {
    width:min-content;
  }

  .group-btn-accueil {
    .btn-accueil {
      justify-content: center;
      margin:15px 30px;
      padding:20px 0px;
      font-size:20px;
      font-family: $text-font;
      text-align:center;
      border: none;
      width: 275px;
      i{
       text-align:left;
       margin-right:15px;
      }
    }
  }

  .form {
    margin: auto 30px;
    padding-left:32px;
    padding-right: 32px;
    .back{
      margin-left:-34px;
      margin-top:3px;
      a {
        i {
          font-size: 30px;
        }
      }
    }
    .form-title-icon {
      margin-bottom:8px;
      img {
        margin-bottom: 8px;
      }
      p {
        color: $dark-blue;
        font-size: 30px;
        font-family: $title-font;
        margin-bottom: 5px;
      }
    }

    input {
      margin-bottom: 40px;
    }

    input[type="submit"]{
      margin-bottom:0px;
    }
  }

  #formConnexion,
  #formInscription {
    background-image: url("../../img/accueil/background-form.png");
    background-repeat:no-repeat;
    background-position: center bottom;
    background-size: cover;
    i.icon-keyboard_arrow_right {
      padding:13px 5px 2px 5px;
    }
    #messageConnexion, #messageInscription {
      background-color: white;
      p {
        margin-bottom:15px;
        font-size:15px;
        color: $brown;
        text-align:left;
      }
    }
  }

  #formConnexion {
    input[type="submit"]{
      margin-bottom: 148px;
    }
  }

  #formInscription {
    input[type="submit"]{
      margin-bottom: 80px;
    }
  }

  #pretEchappee, #echappeeDef {
    margin: auto 30px;
    padding-left:32px;
    padding-right: 32px;
    .title {
      margin:37px 0 33px 0;
    }
    .button {
      margin-bottom:38px;
    }
  }

  #echappeeDef {
    .title {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 14px;
    }
    ul {
      li{
        margin-bottom:18px;
      }
    }
    .button {
      margin-top:15px;
      margin-bottom: 48px;
    }
  }
}
