body {
  background-image:url("../../img/search/background.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  .etapes-recherche {
    p {
      margin-top:14px;
      margin-bottom: 20px;
      i {
        color: $brown;
        padding:0 10px;
      }
    }
  }

  #formSearchProgram {
    margin-left:30px;
    margin-right:30px;

    #inputSearchVille {
      margin-bottom: 40px;
      display: flex;
      i {
        font-size: 24px;
        line-height:40px;
        margin-left: -20px;
      }
      .select {
        width:100%;
        select {
          width: 100%;
        }
      }
      #searchVilles {
        border:none;
        border-bottom: 1px solid $dark-blue;
        color: $brown;
        width: 100%;
        padding: 0 5px 5px 5px;
        &::placeholder {
          color: $brown;
        }
      }
    }

    #typesCreneaux {

      .type-creneau {
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 24px #00000029;
        margin: 25px 0px;
        background-color: white;

        &:hover {
          cursor: pointer;
        }

        &.is-active {
          background-color: $dark-blue;
          color: white;
          .column {
            i {
              color: white;
            }
            &.content{
              p {
                color:white;
              }
            }
          }
        }

        .column {
          flex-grow:initial;
          flex-basis:initial;
          &:first-child {
            width: 30%;
          }

          i {
            color: $dark-blue;
            font-size: 70px;
            line-height: 88px;
          }

          &.content {
            width:70%;
            p {
              color: $dark-blue;
              font-size: 18px;
              line-height: 20px;
              margin-bottom: 4px;
              &:first-child{
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 18px;
              }
            }
          }
        }
      }

      .button {
        margin-top: 15px;
        margin-bottom:15px;
      }
    }

    #creneauPersonnalise {
      background-color: white;
      padding:5px;
      .listCreneaux {
        p {
          margin-bottom:8px;
          margin-top: 8px;
        }

        label {
          font-size: 14px;
        }

        div.datetimepicker-dummy-wrapper {
          margin-bottom: 8px;
        }

        .addCreneau {
          width:auto;
          padding: 10px;
          height: 38px;
          border: none;
          background-color: $dark-blue;
          color: white;
          font-size: 18px;
          line-height: 18px;
          border-radius: 5px;
          margin-top: 5px;
          i {
            color: white;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    #listThematiques {
      display:flex;
      flex-wrap: wrap;
      margin-bottom: 80px;
      .column {
        flex-grow:initial;
        flex-basis:initial;
        width: 34%;
        min-width:34%;
        margin:14px 5%;
        padding: 20px 8px 8px 8px;
        box-shadow: 0px 0px 24px #00000029;
        min-height: 130px;
        background-color: white;
        cursor: pointer;
        flex:1;
        i {
          font-size: 63px;
          line-height: 63px;
          min-height: 63px;
        }
        p{
          margin-top: 20px;
          font-size: 16px;
          word-wrap: break-word;
        }

        &.is-active{
          background-color: $dark-blue;
          i, p {
            color: white;
          }
        }
      }


    }

    .button {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    #discoverPlanning {
      position:fixed;
      bottom:0px;
      left: 50%;
      transform:translateX(-50%);
    }

  }


  #resultatsLieux {
    margin-left:40px;
    margin-right:40px;
  }

  #typesCreneaux {
    .modal {
      .datetimepicker {
        /*position:relative !important;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-height:none;*/
        max-width: none;
      }
    }
    .type-creneau {

    }
  }

  #chooseLieu {
    .title {
      margin-top:19px;
      margin-bottom: 28px;
    }

    .swiper-button-prev {
      left:0px;
    }

    .swiper-button-next {
      right: 0px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      margin-top:50px;
      &::after {
        color: $dark-blue;
        font-size:20px;
      }
      &.swiper-button-disabled{
        opacity:0;
      }
    }

    .infosCreneau {
      p {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 5px;
        i {
          font-size: 26px;
          margin-right: 12px;
        }
      }
    }

    #listLieux {
      margin-top: 0px;
      margin-bottom: 50px;
    }

    #addLieu {
      background-color: white;
      width:100%;
      position:fixed;
      bottom:0;
      z-index: 10;
      .button {
        padding-bottom: 10px;
        padding-top:10px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }

  .backLieu-open{
    margin-top: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    .swiper-wrapper {
      transform: translate3d(0px, 0px, 0px) !important;
    }
    .backLieu {
      padding-bottom: 100px;
      width: 100%;
      .background-lieu {
        min-width: 100%;
        height: 271px;
        background-size: cover;
        background-position: center;
      }
      .title {
        font-size: 28px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 16px 24px;
      }
      .other-infos {
        div{
          padding:0px;
          div, p {
            padding:0px 26px;
          }
          .text-border {
            text-align:left;
            padding-left: 25px;
            width: max-content;
            border-bottom: 1px solid $brown;
            color: $brown;
            font-size: 22px;
            line-height: 22px;
            margin-bottom:10px;
            margin-top: 10px;
            padding-right: 0px;
          }
          p {
            text-align: left;
            color: $brown;
          }
          div {
            display: flex;
            justify-content: space-between;
            button {
              width: 40px;
              border-radius:20px;
              height: 40px;
              border: 1px solid $brown;
              font-size: 18px;
              background-color: white;
              padding: 0;
              color: $brown;
              &.selected {
                background-color: $brown;
                color: white;
              }
              &.optionnal{
                border-style: dashed;
              }
            }
          }
        }
      }
    }
  }

  #listProgram {
    &.backLieu-open {
      padding-bottom: 50px;
      .creneau {
        margin:0;
        max-width: 100%;
      }
    }
    .title {
      margin-top: 19px;
      margin-bottom: 7px;
    }
    .creneau {
      margin: 27px auto;
      max-width: 294px;
      .infosCreneau {
        display: flex;
        justify-content: space-between;
        p {
          font-size: 18px;
          i {
            margin-right: 7px;
            font-size: 26px;
          }
        }
      }
      .polaroid {
        position:relative;
        .frontLieu {
          margin:0;
          padding: 16px 14px 19px 14px;
          .button {
            margin-bottom: 5px;
            margin-right: 6px;
          }
        }
      }
      .backLieu {
        iframe {
          padding-left: 25px;
          padding-right: 25px;
          width:100%;
        }
      }
    }

  }
}
