{% extends 'base.html.twig' %}

{% block title %}Rechercher un lieu{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Quel sera ton programme de rêve ?</h1>

    {% block selectVille %}
      {% include 'ville/list.html.twig' %}
    {% endblock %}

    {% block selectDuration %}
      <select>
        <option value="0.5">1/2 journée</option>
        <option value="1">1 journée</option>
        <option value="2">2 journées</option>
        <option value="3">3 journées</option>
      </select>
    {% endblock %}

    {% block disponibilites %}
      <h2>Mes créaneaux de disponibilités</h2>
      <h3>Créneau 1</h3>
      <select>
        <option></option>
      </select>
    {% endblock %}

    {% block listThematique %}
      {% include 'thematique/list.html.twig' %}
    {% endblock %}

    <button type="submit">Découvre ton planning</button>
</div>
{% endblock %}
