@font-face {
  font-family: 'Nothing You Could Do';
  src: url('../fonts/NothingYouCouldDo-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf');
  font-weight: 700;
}


/* Fonts */
$text-font: 'Raleway';
$title-font: 'Nothing You Could Do';

/*Colors*/
$primary-color: #156543;
$brown: #A78989;
$white: #FFFFFF;
$black: #000000;
$dark-blue: #078787;
$light-blue: #00B1B7;

/* Icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?py78ou');
  src:  url('../fonts/icomoon.eot?py78ou#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?py78ou') format('truetype'),
    url('../fonts/icomoon.woff?py78ou') format('woff'),
    url('../fonts/icomoon.svg?py78ou#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-history:before {
  content: "\e914";
}
.icon-gamepad:before {
  content: "\e915";
}
.icon-mountain:before {
  content: "\e916";
}
.icon-futbol:before {
  content: "\e917";
}
.icon-coffee:before {
  content: "\e918";
}
.icon-water:before {
  content: "\e919";
}
.icon-umbrella-beach:before {
  content: "\e91a";
}
.icon-book:before {
  content: "\e91b";
}
.icon-music:before {
  content: "\e91c";
}
.icon-chair:before {
  content: "\e91d";
}
.icon-theater:before {
  content: "\e91e";
}
.icon-seedling:before {
  content: "\e91f";
}
.icon-archway:before {
  content: "\e920";
}
.icon-place-of-worship:before {
  content: "\e921";
}
.icon-lens-outline:before {
  content: "\e912";
}
.icon-lens:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e911";
}
.icon-keyboard_arrow_left:before {
  content: "\e910";
}
.icon-add:before {
  content: "\e90f";
}
.icon-keyboard_arrow_right:before {
  content: "\e90e";
}
.icon-eye-regular:before {
  content: "\e900";
}
.icon-landmark-solid:before {
  content: "\e901";
}
.icon-pagelines-brands:before {
  content: "\e902";
}
.icon-palette-solid:before {
  content: "\e903";
}
.icon-remove:before {
  content: "\e904";
}
.icon-user-circle-solid:before {
  content: "\e905";
}
.icon-bars-solid:before {
  content: "\e906";
}
.icon-calendar-alt-regular:before {
  content: "\e907";
}
.icon-calendar-check-regular:before {
  content: "\e908";
}
.icon-clock-regular:before {
  content: "\e909";
}
.icon-edit-solid:before {
  content: "\e90a";
}
.icon-lock-solid:before {
  content: "\e90b";
}
.icon-sign-out-alt-solid:before {
  content: "\e90c";
}
.icon-user-circle-solid1:before {
  content: "\e90d";
}
