html {
  width: 100%;
  max-width:100%;
  body {
    a, p, span, select, label, input, li {
      font-family: $text-font;
      text-decoration:none;
      font-size: 18px;
      line-height: 18px;
    }

    li{
      list-style-type: circle;
      margin-left: 18px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $title-font;
    }

    /* TEXTE */
    .dark-blue,
    .dark-blue p,
    .dark-blue a,
    .dark-blue span{
      color: $dark-blue;
    }

    .light-blue,
    .light-blue p,
    .light-blue a,
    .light-blue span{
      color: $light-blue;
    }

    .brown,
    .brown p,
    .brown a,
    brown span {
      color: $brown;
    }

    /* BORDER */
    .border-dark-blue {
      border: 1px solid $dark-blue;
    }

    /* TITRE */
    .title {
      font-family: $title-font;
      font-size:28px;
      line-height: 28px;
      font-weight: 500;
    }

    /* BUTTON */
    .button {
      border:none;
      width: 170px;
      &.btn-dark-blue{
        background-color:$dark-blue;
        color: white;
        font-size:18px;
        line-height: 18px;
        padding: 10px 40px;
        i {
          color: $dark-blue;
        }
        &:hover,
        &.is-active {
          background-color: white;
          color:$dark-blue;
          border:1px solid $dark-blue;
          i {
            color: $dark-blue;
          }
        }
      }
      &.btn-light-blue {
        background-color: white;
        color: $light-blue;
        i {
          color: $light-blue;
        }
        &:hover,
        &.is-active {
          background-color: $light-blue;
          color:white;
          i {
            color: white;
          }
        }
      }
      &.btn-accueil{
        padding:20px 0px;
        font-size:20px;
        font-family: $text-font;
        text-align:center;
        border: none;
        i{
           text-align:left;
         }
         &:hover,
         &.is-active {
           background-color: $dark-blue;
           color:white;
           i {
             color: white;
           }
         }
       }
    }




     /* INPUT */
     .input{
       border:none;
       border-bottom: 1px $brown solid;
       color: $brown;
       font-size: 18px;
       box-shadow: none;
       border-radius: 0px;
       &:placeholder {
         color: $brown;
         font-size: 18px;
       }
     }

      /* SELECT */
      .select {
        select {
          border:none;
          border-radius: 0px;
          border-bottom: 1px solid $dark-blue;
          color: $brown;
        }
        &:not(.is-multiple):not(.is-loading)::after {
          border-color: $dark-blue;
        }
      }

  }
}
