header {
  .navbar {
    .navbar-brand {
      justify-content: space-between;
      background: transparent linear-gradient(263deg, $light-blue 0%, $dark-blue 100%) 0% 0% no-repeat padding-box;
      a.back {
        margin-top: auto;
        margin-bottom: auto;
        &.opacity {
          opacity:0;
        }
        i {
          font-size: 30px;
        }
      }
      img {
        max-width: 175px;
        padding-top:5px;
        padding-bottom: 5px;
      }
      .navbar-burger{
        padding: 12px;
        margin-left: 0;
        span {
          width: 27px;
          height: 3px;
          position:relative;
          margin-bottom: 8px;
          top: auto;
          left: auto;
          &:last-child{
            margin-bottom:0px;
          }
        }
        &.is-active {
          span {
            &:nth-child(1){
              transform: translateY(10px) rotate(45deg);
            }

            &:last-child{
              transform: translateY(-11px) rotate(-45deg);
            }
          }
        }
      }
    }



    &.is-open {
      height:100vh;
      overflow-y: hidden;
      background-image: url("../../img/background.jpg");
      background-repeat:no-repeat;
      background-position: center bottom;
      .navbar-menu {
        height:100%;
        padding-top: 65px;
        background-color: transparent;
        a {
          color: $dark-blue;
          font-size: 22px;
          line-height: 22px;
          border-bottom: 1px solid $dark-blue;
          padding-left: 65px;
          width: fit-content;
          margin-bottom:70px;
          &:hover {
            color: $brown;
            border-color:$brown;
            background-color: transparent;
          }
        }
      }
    }
  }
}
