#formSearchProgram {
  .datetimepicker.is-primary .datepicker-nav,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active,
  .datetimepicker-dummy.is-primary::before,
  .datetimepicker-dummy.is-primary:before,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range
  {
    background-color: $dark-blue;
  }

  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today
  {
    border-color: $dark-blue;
  }

  .datetimepicker.is-primary .datetimepicker-header .datetimepicker-selection-day,
  .datetimepicker-dummy.is-primary .datetimepicker-clear-button,
  .has-text-warning,
  div.timepicker-input-number,
  .timepicker-time-divider,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today
  {
    color: $dark-blue;
  }

  .datetimepicker div
  {
    font-family: $text-font;
  }

  .datetimepicker div button:not(.date-item)
  {
    width:auto;
  }

  #typesCreneaux > div:first-child{
    margin:10px 0px 35px 0px;
  }
}
