.swiper-container {
  //width: 100%;
  //height: 300px;//400
  //padding-top:25px;
  //padding-bottom: 25px;
  //margin-top:20px;
  //margin-bottom: 20px;
  padding-left:25px !important;
  padding-right: 25px !important;

  width: 100%;
  height: 100%;

  .swiper-wrapper {
    //height:300px;//300
    //justify-content:center;
    .swiper-slide {
      //max-width: 100%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      //margin: 20px 25px !important;
    }
  }
}
