.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    .loader {
      height: 50px;
      width: 50px;
      margin: auto;
      border-left-color: $dark-blue;
      border-bottom-color: $dark-blue;
      border-right-color: transparent;
      border-top-color: transparent;
    }

    &.is-active {
      opacity: 1;
      z-index: 1;
    }
}
