.polaroid {
  padding: 16px 14px 19px 14px;
  box-shadow: 0px 0px 24px #00000029;
  background-color: white;
  cursor:pointer;
  margin-top:22px;
  margin-bottom:22px;
  .imagePolaroid {
    width: 100%;
    height: 222px;
    background-size: cover;
    background-position: center;
  }
  p {
    text-transform: uppercase;
    color: $brown;
    font-size: 22px;
    margin-top: 15px;
  }
}

.polaroidVisite {
  //width:auto;
  //max-height: 450px !important;
  margin:18px auto;
  //height: 300px;
  min-height:300px;
  padding: 0;
  .frontLieu {
    //height: 280px;
    min-height: 280px;
    width: 100%;
    margin: 16px 14px 19px 14px;
    .imagePolaroid {
      width: 100%;
      height: 222px;
      background-size: cover;
      background-position: center;
    }
    .voir-plus{
      border-top: 40px solid transparent;
      border-bottom: 100% solid transparent;
      border-right: 40px solid $brown;
      margin-right: -14px;
      margin-top:2px;
      position:absolute;
      bottom:0;
      right:13px;
    }
    a {
      margin-left:16px;
      margin-top: 16px;
      width:22px;
      height:22px;
      position: absolute;
      bottom:0;
      right:0;
      background-color:transparent;
      padding-right:1px;
      padding-bottom:2px;
      padding-top: 5px;
      i {
        color:white;
        font-size: 22px;
      }
    }
  }
}
